.left-nav {
    margin-top:10px;
    width: 180px;
    padding: 0px;
    max-height: 600px;
}

.nav-image {
    /* float: left; */
    width: 68px;
    max-height: 51px;
    margin: 2px;
    vertical-align: middle;
}

.nav-image:hover {
    border: 2px solid #f5b025
}

.content {
    padding:1px;
    margin: 0px;
    overflow-y: auto;
}

.ui.styled.accordion .title  {
    padding: 0px !important;
    font-size:16px !important;
    background: lightgray !important;
    height:44px ;
    vertical-align: middle
}